<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <link rel="stylesheet" href="styles/angular-material.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/form-a.css">
    <div ng-app="nutri">
      <div ng-controller="nutriCtr">
        <div ng-cloak>
          <md-content>
            <md-tabs class="md-primary" md-left-tabs style="height:700px">
              <md-tab label="Recipe" >
                <md-content class="md-padding">
                  <h3 class="md-display-1">Add a new Recipe</h3>
                  <section ng-if="!mainLoader && !mainError">
                    <div ng-if="parsedData.matched">
                      <form name="recipeForm">
                        <md-input-container class="md-block">
                            <label>Recipe Name</label>
                            <input md-maxlength="30" required md-no-asterisk name="recipeName" ng-model="parsedData.recipe_name">
                            <div ng-messages="recipeForm.recipeName.$error">
                              <div ng-message="required">This is required.</div>
                              <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                            </div>
                          </md-input-container>
                          <h2>Matched Ingredients</h2>
                          <table class="table alter--table">
                              <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Measure</th>
                              </tr>
                              <tr ng-repeat="mat in parsedData.matched">
                                <td>
                                    <md-subheader >
                                        {{mat.matched_food_name}}
                                    </md-subheader>
                                    <span class="small-name">Recipe Name : {{mat.food_name}}</span>
                                </td>
                                <td>
                                  <md-input-container class="md-block" style="width:100px">
                                      <label>Quantity</label>
                                      <input required md-no-asterisk name="{{$index}}" ng-model="mat.quantity">
                                      <div ng-messages="recipeForm[$index].$error">
                                        <div ng-message="required">This is required.</div>
                                      </div>
                                    </md-input-container>
                                </td>
                                <td>
                                  <select name="measure_{{$index}}" 
                                    id="repeatSelect_{{$index}}" 
                                    ng-model="mat.selectedMeasure"
                                    ng-init="mat.selectedMeasure"  
                                    ng-options="option.id as option.MeasureName for option in mat.measuresAvaiable">          
                                  </select>
                                  <br />
                                  <span ng-if="mat.measure_name" class="small-name">{{mat.measure_name}}</span>
                                </td>
                                <td>
                                    <span class="delete-b" ng-click="delete(mat)">X</span>
                                </td>
                              </tr>
                          </table>
                        </form>
                        <div>
                          <md-subheader >
                            Add Ingredient
                          </md-subheader>
                          <md-autocomplete
                            md-no-cache="noCache"
                            md-selected-item="selectedItemx"
                            md-search-text-change="searchTextChangex(searchTextx)"
                            md-search-text="searchTextx"
                            md-selected-item-change="selectedItemChangex(selectedItemx)"
                            md-items="item in searchList"
                            md-item-text="item.label"
                            md-min-length="0"
                            placeholder="Add Ingredient (eg. Milk)"
                            input-aria-labelledby="favoriteStateLabel"
                            input-aria-describedby="autocompleteDetailedDescription">
                            <md-item-template>
                              <span md-highlight-text="searchTextx" md-highlight-flags="^i">{{item.label}}</span>
                            </md-item-template>
                            <md-not-found>
                              No matching "{{searchTextx}}" were found.
                            </md-not-found>
                          </md-autocomplete>
                      </div>
                    </div>
                  </section>
                  <section ng-if="!mainLoader && !mainError">
                    <h2>Unmatched Ingredients</h2>
                    <div ng-if="parsedData.missing" >
                      <table class="table alter--table">
                        <tr>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Measure</th>
                        </tr>
                        <tr ng-repeat="unma in parsedData.missing">
                          <td>
                              <md-subheader>
                                  {{unma.food_name}}
                              </md-subheader>
                              </td>
                          <td>
                              <md-subheader>
                                  {{unma.quantity}}
                              </md-subheader>
                          </td>
                          <td>
                              <md-subheader>
                                  {{unma.measure_name}}
                              </md-subheader>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </section>
                  <section ng-if="mainLoader">
                      <img src="https://www.demilked.com/magazine/wp-content/uploads/2016/06/gif-animations-replace-loading-screen-14.gif" width="100%" />
                    </section>
                    <section ng-if="mainError">
                        <img src="https://weirdomatic.com/wp-content/pictures/2009/12/funny-500-error.gif" width="100%" />
                  </section>
                </md-content>
              </md-tab>
              <md-tab label="Custom Ingredient">
                <md-content class="md-padding">
                  <h2 class="md-display-1">Create a Custom Ingredient</h2>
                  <form-a></form-a>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </div>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-aria.min.js"></script>
    <script src="scripts/angular-messages.min.js"></script>
    <script src="scripts/angular-material.min.js"></script>
    <script src="scripts/popup.js"></script>
    <script src="scripts/unknown.js"></script>
  </body>
</html>