<!DOCTYPE html>
<html>
  <head>
    <base href="/">
  </head>
  <body>
    <link rel="stylesheet" href="styles/angular-material.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/form-a.css">
    <div ng-app="nutri">
      <div ng-controller="nutriCtr">
        <div ng-cloak>
          <md-content>
            <md-tabs class="md-primary" md-center-tabs>
              <md-tab label="Recipe">
                <md-content class="md-padding">
                  <h2 class="md-display-1">Add a new Recipe</h2>
                  <p class="md-body-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                    Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In
                    sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
                    feugiat ultricies mi.
                  </p>
                </md-content>
              </md-tab>
              <md-tab label="Custom Ingredient">
                <md-content class="md-padding">
                  <h2 class="md-display-1">Create a Custom Ingredient</h2>
                  <form-a></form-a>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </div>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-aria.min.js"></script>
    <script src="scripts/angular-messages.min.js"></script>
    <script src="scripts/angular-material.min.js"></script>
    <script src="scripts/popup.js"></script>
    <script src="scripts/unknown.js"></script>
  </body>
</html>