body {
  width: 700px !important;
  position: relative !important;
  height: 700px;
}

.table {
  width: 100%;
  text-align: left;
}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 1000px;
}
.my-lab {
  font-size: 14px;
}
.delete-b {
  height: 21px;
  width: 20px;
  background-color: #F44336;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
th{
  font-size: 15px;
}
.small-name {
  font-size: 10px;
  font-weight: 400;
}
.alter--table .md-subheader .md-subheader-inner{
  padding-left: 0px;
}
select {
  font-size: 100%;
  min-width: 100px;
  max-width: 100px;
}
.form-control {
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid rgba(193, 191, 191, 0.87);
  box-shadow: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  color: rgba(0,0,0,0.87)
}

.highlight{
  font-weight: bold;
  color:white;
  background-color: #525fa9;
}
.sm-mar {
  
}